---

---

<div class="background -z-10">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<style>
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #ffffff;
        overflow: hidden;
    }

    .background span {
        width: 25vmin;
        height: 25vmin;
        border-radius: 25vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 30;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .background span:nth-child(0) {
        color: #ccdbff;
        top: 43%;
        left: 23%;
        animation-duration: 5s;
        animation-delay: -5s;
        transform-origin: 8vw 7vh;
        box-shadow: -50vmin 0 6.646350403099116vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #ecf8f5;
        top: 47%;
        left: 34%;
        animation-duration: 10s;
        animation-delay: -15s;
        transform-origin: 19vw 2vh;
        box-shadow: -50vmin 0 6.772201154341116vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #ecf8f5;
        top: 12%;
        left: 88%;
        animation-duration: 15s;
        animation-delay: -21s;
        transform-origin: 0vw -17vh;
        box-shadow: 50vmin 0 6.909202166554904vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #e6f8fe;
        top: 4%;
        left: 60%;
        animation-duration: 20s;
        animation-delay: -27s;
        transform-origin: 20vw 12vh;
        box-shadow: -50vmin 0 6.445454282427921vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #ccdbff;
        top: 37%;
        left: 21%;
        animation-duration: 25s;
        animation-delay: -35s;
        transform-origin: -8vw -13vh;
        box-shadow: -50vmin 0 7.205709999723231vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #dbddef;
        top: 23%;
        left: 20%;
        animation-duration: 30s;
        animation-delay: -43s;
        transform-origin: 9vw 4vh;
        box-shadow: 50vmin 0 6.702420602256772vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #ccdbff;
        top: 60%;
        left: 98%;
        animation-duration: 35s;
        animation-delay: -49s;
        transform-origin: -23vw -11vh;
        box-shadow: -50vmin 0 6.468720943159898vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #dbddef;
        top: 67%;
        left: 76%;
        animation-duration: 40s;
        animation-delay: -53s;
        transform-origin: -10vw -24vh;
        box-shadow: 50vmin 0 7.0833900201098015vmin currentColor;
    }
</style>
