---

---

<!-- ========== HEADER ========== -->
<header
    class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm overflow-hidden"
>
    <nav
        class="mt-4 relative max-w-2xl w-full bg-white/40 backdrop-blur-md border border-gray-200 rounded-3xl mx-4 flex flex-wrap md:flex-nowrap items-center justify-between p-1 md:py-0 sm:mx-auto"
    >
        <div class="flex items-center w-full max-w-max">
            <!-- Logo -->
            <a
                class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80"
                href="#home"
            >
                <svg
                    class="w-full max-w-32 h-auto"
                    width="2016"
                    height="592"
                    viewBox="0 0 2016 592"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M327.941 5.0462C335.646 4.97952 345.936 5.18692 353.612 5.92778L350.744 5.26849C327.037 1.2678 313.812 0.326822 297.698 0.00083971C307.989 0.430543 317.761 3.9423 327.941 5.0462Z"
                        fill="#404CA8"></path>
                    <path
                        d="M276.257 18.877C283.836 15.795 294.038 11.9054 301.847 9.49013C281.54 4.90415 266.063 2.00002 256.55 2.71126L249.675 3.73357C240.014 5.65982 227.13 8.28264 217.581 10.7349C226.486 9.268 244.556 11.6239 271.286 17.7361C272.783 18.0769 274.731 18.9956 276.257 18.877Z"
                        fill="#404CA8"></path>
                    <path
                        d="M226.779 51.78C233.869 46.0012 243.478 38.4591 250.939 33.1693C209.717 23.8936 189.84 21.2932 180.06 23.8936L162.116 32.2655L145.188 41.5708C151.878 39.1334 167.199 38.0888 226.779 51.78Z"
                        fill="#404CA8"></path>
                    <path
                        d="M182.103 101.605C188.355 93.441 196.853 82.6613 203.536 74.8525C166.759 66.577 123.181 57.8496 112.587 63.9099C105.045 70.3258 94.9912 78.9201 87.8196 85.7509L83.4558 90.1442C92.7759 84.6469 122.277 88.0697 182.103 101.605Z"
                        fill="#404CA8"></path>
                    <path
                        d="M144.929 166.229C149.952 155.975 156.82 142.388 162.325 132.386C138.313 126.985 65.2857 110.553 57.6177 120.628L57.4768 120.806C50.7868 130.704 42.1113 144.084 36.0955 154.412C38.9923 151.804 47.8085 143.862 144.929 166.229Z"
                        fill="#404CA8"></path>
                    <path
                        d="M117.933 243.042C121.297 231.159 125.979 215.363 129.861 203.643C101.36 197.234 25.6508 180.217 18.8941 192.011L14.1895 205.54C12.0039 213.4 8.87014 223.839 7.04761 231.788C9.32207 228.484 15.3675 219.69 117.933 243.042Z"
                        fill="#404CA8"></path>
                    <path
                        d="M104.796 322.114C106.011 310.371 107.819 294.731 109.53 283.055C61.337 272.202 5.43854 261.185 0.882199 272.387L0.0302734 288.479C0.133995 295.613 -0.00678442 305.133 0.385876 312.253C3.33453 303.326 34.5473 306.282 104.796 322.114Z"
                        fill="#404CA8"></path>
                    <path
                        d="M105.54 397.327C104.725 386.34 103.821 371.67 103.502 360.654C78.7572 355.075 3.47013 338.094 5.27785 351.8C7.25597 360.269 9.76753 371.596 12.1531 379.961L15.2056 389.651C15.1463 386.406 14.9611 376.531 105.54 397.327Z"
                        fill="#404CA8"></path>
                    <path
                        d="M119.22 464.931C116.501 455.263 113.071 442.305 110.871 432.511C87.7777 427.303 26.4413 413.456 30.1827 426.191C35.7244 436.527 43.4071 450.166 49.6156 460.123C45.2741 449.744 85.0735 457.004 119.22 464.931Z"
                        fill="#404CA8"></path>
                    <path
                        d="M144.896 521.181C140.414 513.424 134.635 502.941 130.694 494.887C88.6419 485.412 69.2682 484.056 73.0985 490.85L73.832 491.813L80.1664 498.799C86.6861 505.296 95.3913 513.942 102.237 520.092C100.481 518.365 96.8212 514.765 106.512 514.817C113.669 514.846 126.582 516.995 144.896 521.181Z"
                        fill="#404CA8"></path>
                    <path
                        d="M181.676 562.356C175.586 557.088 167.629 549.828 162.051 544.012C134.038 537.751 130.171 539.507 131.86 542.078C132.112 542.463 133.053 543.582 136.328 545.619C142.44 549.339 150.648 554.221 156.916 557.688C165.97 562.363 166.14 562.445 171.089 564.756C172.815 565.549 175.127 566.601 176.86 567.371C173.786 565.993 164.421 561.793 166.54 560.526C168.392 559.422 178.387 561.63 181.676 562.356Z"
                        fill="#404CA8"></path>
                    <path
                        d="M335.411 2.88484C340.049 3.5294 345.079 4.30729 350.754 5.27041C342.005 3.38861 337.73 2.86261 335.411 2.88484Z"
                        fill="#404CA8"></path>
                    <mask
                        id="mask0_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="292"
                        y="0"
                        width="173"
                        height="63"
                    >
                        <path
                            d="M464.118 62.2849L450.115 50.7126L435.268 40.1626C410.175 36.0953 336.118 11.817 332.406 3.67488C332.888 3.30445 333.488 2.91174 335.414 2.8821C320.93 0.88176 310.461 0.281555 297.711 2.67029e-05C293.666 0.0815201 293.57 0.251942 292.651 1.87444C298.534 13.6246 412.316 53.713 464.118 62.2849Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask0_1_4)">
                        <path
                            d="M464.118 62.2849L450.115 50.7126L435.268 40.1626C410.175 36.0953 336.118 11.817 332.406 3.67488C332.888 3.30445 333.488 2.91174 335.414 2.8821C320.93 0.88176 310.462 0.281555 297.711 2.67029e-05C293.666 0.0815201 293.57 0.251942 292.651 1.87444C298.534 13.6246 412.316 53.713 464.118 62.2849Z"
                            fill="url(#paint0_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask1_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="215"
                        y="2"
                        width="285"
                        height="114"
                    >
                        <path
                            d="M499.644 115.934L490.368 101.035L481.27 88.4033C480.589 87.4476 479.618 86.803 478.462 86.566C411.51 72.7265 262.64 22.5179 253.016 4.69261C253.898 3.84802 255.372 2.97385 256.558 2.71455L249.682 3.73686C239.984 5.48531 227.175 8.46374 217.588 10.7382L215.847 11.4863C215.639 12.205 215.358 13.1755 215.135 13.9015C228.012 33.8013 400.842 95.7899 499.644 115.934Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask1_1_4)">
                        <path
                            d="M499.644 115.934L490.368 101.035L481.27 88.4033C480.589 87.4476 479.618 86.803 478.462 86.566C411.51 72.7265 262.64 22.5179 253.016 4.69261C253.898 3.84802 255.372 2.97385 256.558 2.71455L249.682 3.73686C239.984 5.48531 227.175 8.46374 217.588 10.7382L215.847 11.4863C215.639 12.205 215.358 13.1755 215.135 13.9015C228.012 33.8013 400.842 95.7899 499.644 115.934Z"
                            fill="url(#paint1_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask2_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="73"
                        y="491"
                        width="259"
                        height="99"
                    >
                        <path
                            d="M80.1726 498.798C86.5663 505.422 95.516 513.816 102.243 520.091C121.498 536.257 235.118 576.189 299.047 589.31L300.714 589.355L315.85 587.036L331.697 583.331C253.891 567.536 97.2718 513.853 73.8381 491.812L80.1726 498.798Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask2_1_4)">
                        <path
                            d="M80.1726 498.798C86.5663 505.422 95.516 513.816 102.243 520.091C121.498 536.257 235.118 576.189 299.047 589.31L300.714 589.355L315.85 587.036L331.697 583.331C253.891 567.536 97.2718 513.853 73.8381 491.812L80.1726 498.798Z"
                            fill="url(#paint2_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask3_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="136"
                        y="545"
                        width="137"
                        height="47"
                    >
                        <path
                            d="M255.286 589.508C257.479 589.819 259.524 590.086 261.383 590.323C259.264 590.056 257.234 589.782 255.286 589.508ZM156.913 557.688C161.87 560.318 162.218 560.488 171.094 564.756C172.82 565.556 175.139 566.593 176.865 567.371C186.874 571.735 205.825 578.721 226.296 584.07C227.763 584.411 229.141 584.707 230.541 585.011C229 584.678 227.548 584.352 226.296 584.07C232 585.515 234.786 586.011 236.623 586.3L235.327 586.033L236.712 586.315L236.623 586.3L237.594 586.493C238.557 586.685 239.483 586.863 240.409 587.041C241.202 587.189 242.01 587.337 242.847 587.493C243.773 587.663 244.677 587.826 245.566 587.975C246.395 588.123 247.255 588.263 248.136 588.412C249.025 588.552 249.877 588.693 250.715 588.819L250.833 588.841L250.804 588.834C251.774 588.99 252.745 589.138 253.656 589.271C252.693 589.13 251.759 588.99 250.833 588.841L255.108 589.612L265.369 590.819L272.622 591.39C246.069 587.56 164.5 561.963 136.325 545.619C142.415 549.39 150.683 554.169 156.913 557.688Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask3_1_4)">
                        <path
                            d="M255.286 589.508C257.479 589.819 259.524 590.086 261.383 590.323C259.264 590.056 257.234 589.782 255.286 589.508ZM156.913 557.688C161.87 560.318 162.218 560.488 171.094 564.756C172.82 565.556 175.139 566.593 176.865 567.371C186.874 571.735 205.825 578.721 226.296 584.07C227.763 584.411 229.141 584.707 230.541 585.011C229 584.678 227.548 584.352 226.296 584.07C232 585.515 234.786 586.011 236.623 586.3L235.327 586.033L236.712 586.315L236.623 586.3L237.594 586.493C238.557 586.685 239.483 586.863 240.409 587.041C241.202 587.189 242.01 587.337 242.847 587.493C243.773 587.663 244.677 587.826 245.566 587.975C246.395 588.123 247.255 588.263 248.136 588.412C249.025 588.552 249.877 588.693 250.715 588.819L250.833 588.841L250.804 588.834C251.774 588.99 252.745 589.138 253.656 589.271C252.693 589.13 251.759 588.99 250.833 588.841L255.108 589.612L265.369 590.819L272.622 591.39C246.069 587.56 164.5 561.963 136.325 545.619C142.415 549.39 150.683 554.169 156.913 557.688Z"
                            fill="url(#paint3_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask4_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="5"
                        y="351"
                        width="519"
                        height="220"
                    >
                        <path
                            d="M328.867 445.832C336.683 448.188 340.669 456.812 337.372 464.287L334.527 470.74C331.771 476.986 324.829 480.253 318.28 478.319C171.803 435.09 16.0131 374.012 5.29272 351.801C7.03376 360.321 10.0195 371.53 12.168 379.962L15.2205 389.652C23.17 404.996 106.71 440.609 204.86 474.178C211.291 476.378 215.722 482.876 214.469 489.558C212.891 498.041 204.357 502.716 196.689 500.071C114.4 471.733 41.0471 441.128 30.1786 426.192C35.6239 436.579 43.4994 450.107 49.6189 460.123C67.622 482.387 243.882 546.012 355.02 570.461C356.094 570.698 357.183 570.55 358.161 570.053L371.222 563.408L385.499 554.866C350.522 547.538 304.566 534.84 257.329 520.03C249.475 517.563 245.638 508.702 249.15 501.271L249.194 501.168C252.098 495.048 259.062 492.018 265.523 494.04C313.057 508.939 361.095 522.401 403.391 532.143C404.924 532.492 406.503 532.054 407.651 530.98L418.364 520.971L418.564 520.778L424.995 514.014C427.506 511.377 426.254 507.05 422.705 506.22C408.947 502.998 394.656 499.434 380.039 495.589C371.837 493.433 367.629 484.32 371.267 476.66L374.104 470.651C376.927 464.695 383.617 461.65 389.966 463.376C435.774 475.793 475.744 484.735 502.719 487.721C506.868 488.18 510.935 486.454 513.477 483.135L521.019 473.267L521.47 472.629C526.242 465.45 522.033 455.73 513.513 454.411C470.343 447.714 395.286 428.14 315.665 403.736C310.501 402.151 304.892 404.255 302.077 408.878L295.261 420.042C291.261 426.607 294.483 435.216 301.825 437.512C310.901 440.357 319.932 443.135 328.867 445.832Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask4_1_4)">
                        <path
                            d="M328.867 445.832C336.683 448.188 340.669 456.812 337.372 464.287L334.527 470.74C331.771 476.986 324.829 480.253 318.28 478.319C171.803 435.09 16.0131 374.012 5.29272 351.801C7.03376 360.321 10.0195 371.53 12.168 379.962L15.2205 389.652C23.17 404.996 106.71 440.609 204.86 474.178C211.291 476.378 215.722 482.876 214.469 489.558C212.891 498.041 204.357 502.716 196.689 500.071C114.4 471.733 41.0471 441.128 30.1786 426.192C35.6239 436.579 43.4994 450.107 49.6189 460.123C67.622 482.387 243.882 546.012 355.02 570.461C356.094 570.698 357.183 570.55 358.161 570.053L371.222 563.408L385.499 554.866C350.522 547.538 304.566 534.84 257.329 520.03C249.475 517.563 245.638 508.702 249.15 501.271L249.194 501.168C252.098 495.048 259.062 492.018 265.523 494.04C313.057 508.939 361.095 522.401 403.391 532.143C404.924 532.492 406.503 532.054 407.651 530.98L418.364 520.971L418.564 520.778L424.995 514.014C427.506 511.377 426.254 507.05 422.705 506.22C408.947 502.998 394.656 499.434 380.039 495.589C371.837 493.433 367.629 484.32 371.267 476.66L374.104 470.651C376.927 464.695 383.617 461.65 389.966 463.376C435.774 475.793 475.744 484.735 502.719 487.721C506.868 488.18 510.935 486.454 513.477 483.135L521.019 473.267L521.47 472.629C526.242 465.45 522.033 455.73 513.513 454.411C470.343 447.714 395.286 428.14 315.665 403.736C310.501 402.151 304.892 404.255 302.077 408.878L295.261 420.042C291.261 426.607 294.483 435.216 301.825 437.512C310.901 440.357 319.932 443.135 328.867 445.832Z"
                            fill="url(#paint4_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask5_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="533"
                        y="383"
                        width="62"
                        height="45"
                    >
                        <path
                            d="M585.691 421.675L593.396 407.139C597.108 400.13 593.011 391.536 585.239 389.98C575.63 388.054 566.117 386.12 556.849 384.201C551.944 383.186 547.003 385.365 544.403 389.639L535.645 403.997C531.371 410.991 535.312 420.104 543.343 421.756C552.959 423.734 562.858 425.734 572.896 427.742C578.031 428.765 583.239 426.298 585.691 421.675Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask5_1_4)">
                        <path
                            d="M585.691 421.674L593.396 407.138C597.108 400.13 593.011 391.536 585.239 389.98C575.63 388.054 566.117 386.12 556.849 384.201C551.944 383.186 547.003 385.364 544.403 389.639L535.645 403.997C531.371 410.991 535.312 420.103 543.343 421.756C552.959 423.734 562.858 425.734 572.896 427.742C578.031 428.764 583.239 426.297 585.691 421.674Z"
                            fill="url(#paint5_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask6_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="464"
                        y="284"
                        width="94"
                        height="53"
                    >
                        <path
                            d="M545.969 331.314L555.763 316.815C560.542 309.747 556.527 300.064 548.125 298.56C531.441 295.553 510.926 290.967 487.848 285.173C482.81 283.913 477.513 286.04 474.809 290.47L465.963 304.976C461.799 311.792 465.474 320.697 473.223 322.646C495.212 328.18 515.705 332.826 533.997 336.337C538.635 337.226 543.324 335.226 545.969 331.314Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask6_1_4)">
                        <path
                            d="M545.969 331.314L555.763 316.815C560.542 309.748 556.527 300.065 548.125 298.561C531.441 295.553 510.926 290.967 487.848 285.173C482.81 283.914 477.513 286.04 474.809 290.47L465.963 304.976C461.799 311.792 465.474 320.698 473.223 322.646C495.212 328.18 515.705 332.826 533.997 336.337C538.635 337.226 543.324 335.226 545.969 331.314Z"
                            fill="url(#paint6_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask7_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="63"
                        width="523"
                        height="362"
                    >
                        <path
                            d="M513.621 375.036C489.372 369.746 468.924 364.989 455.618 361.478C427.48 354.047 396.312 345.031 363.951 335.044C356.068 332.606 352.178 323.723 355.712 316.263L361.869 303.275C364.751 297.2 371.663 294.177 378.109 296.118C395.83 301.467 413.292 306.535 430.229 311.232C435.133 312.595 440.312 310.639 443.164 306.424L452.766 292.207C457.293 285.502 453.936 276.322 446.143 274.181C395.571 260.275 337.828 242.531 282.551 223.839C274.869 221.246 271.224 212.511 274.691 205.184L279.499 195.027C282.44 188.811 289.567 185.774 296.08 187.989C300.006 189.322 303.962 190.648 307.934 191.974C311.667 193.219 315.742 191.478 317.431 187.929L326.033 169.882C328.055 165.666 325.9 160.636 321.462 159.147C218.451 124.585 124.665 86.1192 111.826 67.6271C112.055 66.5084 112.359 65.0193 112.589 63.908C104.914 70.1683 95.1341 79.0663 87.8217 85.7489L83.4579 90.1422C79.4721 102.663 147.054 133.935 236.358 166.844C243.715 169.556 247.286 177.891 244.13 185.07L239.529 195.494C236.655 202.028 229.179 205.221 222.475 202.784C131.681 169.704 59.5131 137.128 57.6091 120.629L57.4682 120.807C50.6596 130.623 42.2213 144.152 36.0869 154.405C33.6346 172.986 173.777 230.3 317.328 277.048C324.981 279.538 328.811 288.058 325.566 295.415L319.928 308.195C317.113 314.596 309.889 317.826 303.259 315.633C165.339 270.025 26.4186 214.104 18.8988 192.012L14.1868 205.54C11.7271 213.319 9.15636 223.906 7.05229 231.789C7.81539 244.495 65.44 271.988 143.498 302.142C150.714 304.927 154.122 313.195 151.003 320.263L145.706 332.28C142.779 338.94 135.104 342.082 128.318 339.437C60.3799 312.951 9.26744 288.073 0.895636 272.388L0.0437099 288.48C-0.134098 295.615 0.280766 305.12 0.391896 312.255C4.56298 330.561 130.777 381.563 259.955 424.074C264.985 425.726 270.512 423.829 273.468 419.443L280.714 408.723C285.137 402.174 282.025 393.246 274.506 390.831C245.197 381.414 215.91 371.539 187.957 361.596C180.393 358.907 176.867 350.254 180.297 343.001L185.935 331.11C188.921 324.797 196.174 321.789 202.745 324.145C284.122 353.298 376.056 382.237 447.506 400.603C459.011 403.559 477.14 407.701 498.981 412.427C503.723 413.442 508.605 411.494 511.317 407.486L520.94 393.231C525.63 386.297 521.807 376.821 513.621 375.036Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask7_1_4)">
                        <path
                            d="M513.621 375.036C489.372 369.746 468.924 364.989 455.618 361.478C427.48 354.047 396.312 345.03 363.951 335.044C356.068 332.606 352.178 323.723 355.712 316.263L361.869 303.275C364.751 297.2 371.663 294.177 378.109 296.118C395.83 301.467 413.292 306.535 430.229 311.232C435.133 312.595 440.312 310.639 443.164 306.424L452.766 292.207C457.293 285.502 453.936 276.322 446.143 274.181C395.571 260.275 337.828 242.531 282.551 223.839C274.869 221.246 271.224 212.511 274.691 205.184L279.499 195.027C282.44 188.811 289.567 185.773 296.08 187.989C300.006 189.322 303.962 190.648 307.934 191.974C311.667 193.219 315.742 191.478 317.431 187.929L326.033 169.882C328.055 165.666 325.9 160.636 321.462 159.147C218.451 124.585 124.665 86.1192 111.826 67.6271C112.055 66.5084 112.359 65.0192 112.589 63.9079C104.914 70.1683 95.1341 79.0663 87.8217 85.7489L83.4579 90.1422C79.4721 102.663 147.054 133.935 236.358 166.844C243.715 169.556 247.286 177.891 244.13 185.07L239.529 195.494C236.655 202.028 229.179 205.221 222.475 202.784C131.681 169.704 59.5131 137.128 57.6091 120.629L57.4682 120.807C50.6596 130.623 42.2213 144.151 36.0869 154.405C33.6346 172.986 173.777 230.3 317.328 277.048C324.981 279.538 328.811 288.058 325.566 295.415L319.928 308.195C317.113 314.596 309.889 317.826 303.259 315.633C165.339 270.025 26.4186 214.104 18.8988 192.012L14.1868 205.54C11.7271 213.319 9.15636 223.906 7.05229 231.789C7.81539 244.495 65.44 271.988 143.498 302.142C150.714 304.927 154.122 313.195 151.003 320.263L145.706 332.28C142.779 338.94 135.104 342.082 128.318 339.437C60.3799 312.951 9.26744 288.073 0.895636 272.388L0.0437099 288.48C-0.134098 295.615 0.280766 305.12 0.391896 312.254C4.56298 330.561 130.777 381.563 259.955 424.074C264.985 425.726 270.512 423.829 273.468 419.443L280.714 408.723C285.137 402.174 282.025 393.246 274.506 390.831C245.197 381.414 215.91 371.539 187.957 361.596C180.393 358.907 176.867 350.254 180.297 343.001L185.935 331.11C188.921 324.797 196.174 321.789 202.745 324.145C284.122 353.298 376.056 382.237 447.506 400.603C459.011 403.559 477.14 407.7 498.981 412.427C503.723 413.442 508.605 411.494 511.317 407.486L520.94 393.231C525.63 386.297 521.807 376.821 513.621 375.036Z"
                            fill="url(#paint7_linear_1_4)"></path>
                    </g>
                    <mask
                        id="mask8_1_4"
                        style="mask-type:luminance"
                        maskUnits="userSpaceOnUse"
                        x="143"
                        y="23"
                        width="379"
                        height="230"
                    >
                        <path
                            d="M515.863 252.459C518.9 253.163 521.73 250.748 521.597 247.636L521.034 234.938L521.019 234.716L519.545 219.52C519.352 217.505 517.937 215.86 515.959 215.408C488.087 209.081 456.06 200.591 422.506 190.834C414.475 188.5 410.415 179.536 413.993 171.979L416.742 166.163C419.594 160.155 426.38 157.124 432.774 158.947C460.475 166.845 487.361 173.853 511.914 179.395C515.418 180.188 518.418 176.891 517.418 173.453L514.625 163.852L514.536 163.563L509.454 149.316C508.913 147.789 507.668 146.664 506.083 146.315C393.323 121.615 186.717 48.8985 178.056 26.3835C178.649 25.6352 179.442 24.635 180.042 23.8941L162.098 32.266L144.651 41.8529L143.68 43.6606C147.829 59.6782 257.692 104.338 371.993 140.625C379.698 143.07 383.61 151.635 380.335 159.029L377.831 164.704C375.038 171.038 367.911 174.283 361.325 172.186C359.11 171.483 356.887 170.771 354.672 170.06C351.049 168.889 347.115 170.519 345.374 173.913L336.239 191.812C334.061 196.087 336.209 201.317 340.781 202.784C401.747 222.469 464.031 240.398 515.863 252.459Z"
                            fill="white"></path>
                    </mask>
                    <g mask="url(#mask8_1_4)">
                        <path
                            d="M515.863 252.459C518.9 253.163 521.73 250.748 521.597 247.636L521.034 234.938L521.019 234.716L519.545 219.52C519.352 217.505 517.937 215.86 515.959 215.408C488.087 209.081 456.06 200.591 422.506 190.834C414.475 188.5 410.415 179.536 413.993 171.979L416.742 166.163C419.594 160.155 426.38 157.124 432.774 158.947C460.475 166.845 487.361 173.853 511.914 179.395C515.418 180.188 518.418 176.891 517.418 173.453L514.625 163.852L514.536 163.563L509.454 149.316C508.913 147.789 507.668 146.664 506.083 146.315C393.323 121.615 186.717 48.8985 178.056 26.3835C178.649 25.6352 179.442 24.635 180.042 23.8941L162.098 32.266L144.651 41.8529L143.68 43.6606C147.829 59.6782 257.692 104.338 371.993 140.625C379.698 143.07 383.61 151.635 380.335 159.029L377.831 164.704C375.038 171.038 367.911 174.283 361.325 172.186C359.11 171.483 356.887 170.771 354.672 170.06C351.049 168.889 347.115 170.519 345.374 173.913L336.239 191.812C334.061 196.087 336.209 201.317 340.781 202.784C401.747 222.469 464.031 240.398 515.863 252.459Z"
                            fill="url(#paint8_linear_1_4)"></path>
                    </g>
                    <rect
                        x="669.214"
                        y="68.4775"
                        width="3.83369"
                        height="455.519"
                        fill="#3059A8"></rect>
                    <path
                        d="M802.491 89.7021H901.982V125.453H846.239V154.148H898.454V188.487H846.239V221.886H904.099V257.637H802.491V89.7021ZM973.954 162.145H982.186C987.674 162.145 991.829 160.498 994.652 157.205C997.631 153.912 999.12 148.738 999.12 141.682C999.12 128.04 993.476 121.219 982.186 121.219H973.954V162.145ZM930.206 89.7021H995.828C1004.14 89.7021 1011.35 91.0349 1017.47 93.7006C1023.58 96.3662 1028.6 100.051 1032.52 104.755C1036.6 109.302 1039.58 114.712 1041.46 120.984C1043.34 127.256 1044.28 134.077 1044.28 141.447C1044.28 158.852 1039.58 171.945 1030.17 180.726C1020.92 189.35 1007.27 193.662 989.242 193.662H973.954V257.637H930.206V89.7021ZM1068.3 89.7021H1112.04V257.637H1068.3V89.7021ZM1209.83 140.741C1209.83 131.176 1208.89 124.669 1207.01 121.219C1205.13 117.77 1202.07 116.045 1197.84 116.045C1194.54 116.045 1191.88 116.907 1189.84 118.632C1187.96 120.357 1186.47 123.414 1185.37 127.805C1184.43 132.195 1183.8 138.154 1183.49 145.68C1183.18 153.05 1183.02 162.38 1183.02 173.669C1183.02 184.959 1183.18 194.367 1183.49 201.894C1183.8 209.263 1184.43 215.144 1185.37 219.534C1186.47 223.924 1187.96 226.982 1189.84 228.707C1191.88 230.432 1194.54 231.294 1197.84 231.294C1200.5 231.294 1202.7 230.667 1204.42 229.412C1206.15 228.001 1207.48 225.728 1208.42 222.592C1209.36 219.456 1209.99 215.3 1210.3 210.126C1210.77 204.795 1211.01 198.131 1211.01 190.134H1253.34V202.599C1253.34 214.359 1251.78 224.003 1248.64 231.529C1245.5 239.056 1241.35 245.014 1236.18 249.405C1231 253.638 1225.04 256.461 1218.3 257.872C1211.71 259.44 1204.89 260.224 1197.84 260.224C1185.61 260.224 1175.57 258.734 1167.73 255.755C1159.89 252.776 1153.78 247.837 1149.39 240.937C1144.99 233.881 1141.94 224.865 1140.21 213.889C1138.64 202.756 1137.86 189.35 1137.86 173.669C1137.86 157.676 1138.8 144.112 1140.68 132.979C1142.72 121.846 1146.09 112.83 1150.8 105.931C1155.5 99.0318 1161.69 94.0926 1169.38 91.1134C1177.06 87.9773 1186.55 86.4093 1197.84 86.4093C1207.72 86.4093 1216.1 87.6637 1223 90.1725C1229.9 92.6814 1235.47 96.2878 1239.7 100.992C1244.09 105.539 1247.23 111.106 1249.11 117.691C1251.15 124.12 1252.17 131.411 1252.17 139.565V150.149H1209.83V140.741ZM1353.75 89.7021H1453.24V125.453H1397.49V154.148H1449.71V188.487H1397.49V221.886H1455.35V257.637H1353.75V89.7021ZM1526.86 160.733H1535.56C1541.83 160.733 1546.46 158.93 1549.44 155.324C1552.41 151.56 1553.9 146.7 1553.9 140.741C1553.9 133.685 1552.41 128.667 1549.44 125.688C1546.61 122.709 1541.91 121.219 1535.32 121.219H1526.86V160.733ZM1483.11 89.7021H1551.55C1559.86 89.7021 1566.92 90.7997 1572.72 92.995C1578.68 95.1902 1583.46 98.3262 1587.07 102.403C1590.83 106.323 1593.5 111.027 1595.06 116.515C1596.79 122.003 1597.65 127.962 1597.65 134.391C1597.65 145.68 1595.38 154.775 1590.83 161.674C1586.28 168.573 1578.99 172.807 1568.96 174.375V174.845C1579.46 175.786 1586.68 179.471 1590.6 185.9C1594.52 192.329 1596.48 201.188 1596.48 212.478V226.825C1596.48 229.02 1596.48 231.294 1596.48 233.646C1596.48 235.998 1596.55 238.272 1596.71 240.467C1596.87 242.505 1597.1 244.387 1597.42 246.112C1597.73 247.837 1598.12 249.169 1598.59 250.11C1599.22 251.051 1599.85 251.992 1600.47 252.933C1601.1 253.717 1602.12 254.501 1603.53 255.285V257.637H1556.96C1555.86 255.442 1555 252.854 1554.37 249.875C1553.9 246.896 1553.51 243.917 1553.2 240.937C1553.04 237.958 1552.89 235.136 1552.73 232.47C1552.73 229.648 1552.73 227.374 1552.73 225.649V214.359C1552.73 209.655 1552.49 205.735 1552.02 202.599C1551.55 199.463 1550.69 197.033 1549.44 195.308C1548.34 193.426 1546.85 192.172 1544.97 191.545C1543.24 190.761 1541.05 190.369 1538.38 190.369H1526.86V257.637H1483.11V89.7021ZM1672.03 162.145H1680.26C1685.75 162.145 1689.9 160.498 1692.73 157.205C1695.7 153.912 1697.19 148.738 1697.19 141.682C1697.19 128.04 1691.55 121.219 1680.26 121.219H1672.03V162.145ZM1628.28 89.7021H1693.9C1702.21 89.7021 1709.42 91.0349 1715.54 93.7006C1721.66 96.3662 1726.67 100.051 1730.59 104.755C1734.67 109.302 1737.65 114.712 1739.53 120.984C1741.41 127.256 1742.35 134.077 1742.35 141.447C1742.35 158.852 1737.65 171.945 1728.24 180.726C1718.99 189.35 1705.35 193.662 1687.32 193.662H1672.03V257.637H1628.28V89.7021Z"
                        fill="#130D7C"></path>
                    <path
                        d="M897.394 392.384C896.25 381.38 892.249 373.449 885.389 368.59C878.673 363.588 870.027 361.087 859.452 361.087C855.164 361.087 850.949 361.516 846.804 362.373C842.66 363.231 838.944 364.66 835.658 366.661C832.514 368.661 829.941 371.377 827.941 374.806C826.083 378.093 825.154 382.238 825.154 387.239C825.154 391.955 826.511 395.814 829.227 398.815C832.085 401.673 835.8 404.031 840.374 405.889C845.089 407.747 850.377 409.319 856.236 410.605C862.095 411.748 868.026 413.034 874.028 414.463C880.173 415.892 886.175 417.607 892.035 419.608C897.894 421.466 903.11 424.038 907.683 427.325C912.399 430.612 916.115 434.756 918.83 439.758C921.688 444.76 923.117 451.048 923.117 458.622C923.117 466.768 921.259 473.77 917.544 479.629C913.971 485.346 909.327 490.062 903.61 493.777C897.894 497.35 891.463 499.922 884.318 501.494C877.315 503.209 870.313 504.067 863.31 504.067C854.736 504.067 846.59 502.995 838.873 500.851C831.299 498.708 824.582 495.492 818.723 491.205C813.007 486.775 808.434 481.201 805.004 474.485C801.717 467.625 800.073 459.551 800.073 450.262H819.366C819.366 456.693 820.581 462.266 823.01 466.982C825.583 471.555 828.869 475.342 832.871 478.343C837.015 481.344 841.803 483.559 847.233 484.988C852.664 486.417 858.237 487.132 863.953 487.132C868.526 487.132 873.099 486.703 877.672 485.846C882.388 484.988 886.604 483.559 890.32 481.559C894.035 479.415 897.036 476.557 899.323 472.984C901.61 469.411 902.753 464.838 902.753 459.265C902.753 453.977 901.324 449.69 898.466 446.403C895.75 443.116 892.035 440.473 887.319 438.472C882.746 436.328 877.53 434.613 871.67 433.327C865.811 432.041 859.809 430.755 853.664 429.469C847.662 428.04 841.731 426.468 835.872 424.753C830.013 422.895 824.725 420.537 820.009 417.679C815.436 414.678 811.72 410.891 808.862 406.318C806.147 401.602 804.789 395.742 804.789 388.74C804.789 381.023 806.361 374.378 809.505 368.804C812.649 363.088 816.794 358.443 821.938 354.871C827.226 351.155 833.157 348.44 839.73 346.725C846.447 344.867 853.307 343.938 860.309 343.938C868.169 343.938 875.457 344.867 882.174 346.725C888.891 348.583 894.75 351.512 899.752 355.514C904.896 359.515 908.898 364.588 911.756 370.734C914.757 376.736 916.4 383.952 916.686 392.384H897.394ZM953.222 424.11C953.222 431.827 954.222 439.472 956.223 447.046C958.223 454.478 961.367 461.194 965.655 467.196C969.942 473.198 975.444 478.057 982.16 481.773C988.877 485.346 996.88 487.132 1006.17 487.132C1015.46 487.132 1023.46 485.346 1030.18 481.773C1036.89 478.057 1042.4 473.198 1046.68 467.196C1050.97 461.194 1054.11 454.478 1056.12 447.046C1058.12 439.472 1059.12 431.827 1059.12 424.11C1059.12 416.393 1058.12 408.818 1056.12 401.387C1054.11 393.813 1050.97 387.025 1046.68 381.023C1042.4 375.021 1036.89 370.233 1030.18 366.661C1023.46 362.945 1015.46 361.087 1006.17 361.087C996.88 361.087 988.877 362.945 982.16 366.661C975.444 370.233 969.942 375.021 965.655 381.023C961.367 387.025 958.223 393.813 956.223 401.387C954.222 408.818 953.222 416.393 953.222 424.11ZM932.857 424.11C932.857 413.677 934.358 403.674 937.359 394.099C940.503 384.381 945.147 375.807 951.292 368.376C957.437 360.944 965.083 355.014 974.229 350.583C983.375 346.153 994.022 343.938 1006.17 343.938C1018.32 343.938 1028.96 346.153 1038.11 350.583C1047.26 355.014 1054.9 360.944 1061.05 368.376C1067.19 375.807 1071.76 384.381 1074.76 394.099C1077.91 403.674 1079.48 413.677 1079.48 424.11C1079.48 434.542 1077.91 444.617 1074.76 454.335C1071.76 463.909 1067.19 472.412 1061.05 479.844C1054.9 487.275 1047.26 493.206 1038.11 497.636C1028.96 501.923 1018.32 504.067 1006.17 504.067C994.022 504.067 983.375 501.923 974.229 497.636C965.083 493.206 957.437 487.275 951.292 479.844C945.147 472.412 940.503 463.909 937.359 454.335C934.358 444.617 932.857 434.542 932.857 424.11ZM1097.87 347.582H1118.23V483.488H1199.26V500.637H1097.87V347.582ZM1332.73 445.331C1332.73 464.91 1327.52 479.629 1317.09 489.49C1306.65 499.208 1291.79 504.067 1272.5 504.067C1252.78 504.067 1237.34 499.422 1226.2 490.133C1215.19 480.701 1209.69 465.767 1209.69 445.331V347.582H1230.05V445.331C1230.05 459.051 1233.7 469.483 1240.99 476.628C1248.28 483.631 1258.78 487.132 1272.5 487.132C1285.5 487.132 1295.36 483.631 1302.08 476.628C1308.94 469.483 1312.37 459.051 1312.37 445.331V347.582H1332.73V445.331ZM1393.54 364.731H1342.53V347.582H1464.93V364.731H1413.91V500.637H1393.54V364.731ZM1476.33 347.582H1496.7V500.637H1476.33V347.582ZM1536.31 424.11C1536.31 431.827 1537.31 439.472 1539.31 447.046C1541.31 454.478 1544.46 461.194 1548.74 467.196C1553.03 473.198 1558.53 478.057 1565.25 481.773C1571.97 485.346 1579.97 487.132 1589.26 487.132C1598.55 487.132 1606.55 485.346 1613.27 481.773C1619.98 478.057 1625.49 473.198 1629.77 467.196C1634.06 461.194 1637.2 454.478 1639.2 447.046C1641.21 439.472 1642.21 431.827 1642.21 424.11C1642.21 416.393 1641.21 408.818 1639.2 401.387C1637.2 393.813 1634.06 387.025 1629.77 381.023C1625.49 375.021 1619.98 370.233 1613.27 366.661C1606.55 362.945 1598.55 361.087 1589.26 361.087C1579.97 361.087 1571.97 362.945 1565.25 366.661C1558.53 370.233 1553.03 375.021 1548.74 381.023C1544.46 387.025 1541.31 393.813 1539.31 401.387C1537.31 408.818 1536.31 416.393 1536.31 424.11ZM1515.95 424.11C1515.95 413.677 1517.45 403.674 1520.45 394.099C1523.59 384.381 1528.24 375.807 1534.38 368.376C1540.53 360.944 1548.17 355.014 1557.32 350.583C1566.46 346.153 1577.11 343.938 1589.26 343.938C1601.41 343.938 1612.05 346.153 1621.2 350.583C1630.34 355.014 1637.99 360.944 1644.13 368.376C1650.28 375.807 1654.85 384.381 1657.85 394.099C1661 403.674 1662.57 413.677 1662.57 424.11C1662.57 434.542 1661 444.617 1657.85 454.335C1654.85 463.909 1650.28 472.412 1644.13 479.844C1637.99 487.275 1630.34 493.206 1621.2 497.636C1612.05 501.923 1601.41 504.067 1589.26 504.067C1577.11 504.067 1566.46 501.923 1557.32 497.636C1548.17 493.206 1540.53 487.275 1534.38 479.844C1528.24 472.412 1523.59 463.909 1520.45 454.335C1517.45 444.617 1515.95 434.542 1515.95 424.11ZM1680.74 347.582H1702.39L1782.99 471.698H1783.42V347.582H1802.71V500.637H1780.42L1700.46 377.807H1700.03V500.637H1680.74V347.582ZM1917.76 392.384C1916.61 381.38 1912.61 373.449 1905.75 368.59C1899.04 363.588 1890.39 361.087 1879.81 361.087C1875.53 361.087 1871.31 361.516 1867.17 362.373C1863.02 363.231 1859.31 364.66 1856.02 366.661C1852.88 368.661 1850.3 371.377 1848.3 374.806C1846.44 378.093 1845.52 382.238 1845.52 387.239C1845.52 391.955 1846.87 395.814 1849.59 398.815C1852.45 401.673 1856.16 404.031 1860.74 405.889C1865.45 407.747 1870.74 409.319 1876.6 410.605C1882.46 411.748 1888.39 413.034 1894.39 414.463C1900.54 415.892 1906.54 417.607 1912.4 419.608C1918.26 421.466 1923.47 424.038 1928.05 427.325C1932.76 430.612 1936.48 434.756 1939.19 439.758C1942.05 444.76 1943.48 451.048 1943.48 458.622C1943.48 466.768 1941.62 473.77 1937.91 479.629C1934.33 485.346 1929.69 490.062 1923.97 493.777C1918.26 497.35 1911.83 499.922 1904.68 501.494C1897.68 503.209 1890.67 504.067 1883.67 504.067C1875.1 504.067 1866.95 502.995 1859.24 500.851C1851.66 498.708 1844.94 495.492 1839.09 491.205C1833.37 486.775 1828.8 481.201 1825.37 474.485C1822.08 467.625 1820.44 459.551 1820.44 450.262H1839.73C1839.73 456.693 1840.94 462.266 1843.37 466.982C1845.94 471.555 1849.23 475.342 1853.23 478.343C1857.38 481.344 1862.16 483.559 1867.6 484.988C1873.03 486.417 1878.6 487.132 1884.32 487.132C1888.89 487.132 1893.46 486.703 1898.03 485.846C1902.75 484.988 1906.97 483.559 1910.68 481.559C1914.4 479.415 1917.4 476.557 1919.69 472.984C1921.97 469.411 1923.12 464.838 1923.12 459.265C1923.12 453.977 1921.69 449.69 1918.83 446.403C1916.11 443.116 1912.4 440.473 1907.68 438.472C1903.11 436.328 1897.89 434.613 1892.03 433.327C1886.17 432.041 1880.17 430.755 1874.03 429.469C1868.02 428.04 1862.09 426.468 1856.23 424.753C1850.37 422.895 1845.09 420.537 1840.37 417.679C1835.8 414.678 1832.08 410.891 1829.22 406.318C1826.51 401.602 1825.15 395.742 1825.15 388.74C1825.15 381.023 1826.72 374.378 1829.87 368.804C1833.01 363.088 1837.16 358.443 1842.3 354.871C1847.59 351.155 1853.52 348.44 1860.09 346.725C1866.81 344.867 1873.67 343.938 1880.67 343.938C1888.53 343.938 1895.82 344.867 1902.54 346.725C1909.25 348.583 1915.11 351.512 1920.11 355.514C1925.26 359.515 1929.26 364.588 1932.12 370.734C1935.12 376.736 1936.76 383.952 1937.05 392.384H1917.76Z"
                        fill="#0496C3"></path>
                    <defs>
                        <linearGradient
                            id="paint0_linear_1_4"
                            x1="90.3944"
                            y1="-105.922"
                            x2="445.065"
                            y2="60.5368"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint1_linear_1_4"
                            x1="75.7486"
                            y1="-74.7284"
                            x2="430.419"
                            y2="91.7305"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint2_linear_1_4"
                            x1="-140.058"
                            y1="385.127"
                            x2="214.613"
                            y2="551.586"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint3_linear_1_4"
                            x1="-148.961"
                            y1="404.039"
                            x2="205.709"
                            y2="570.498"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint4_linear_1_4"
                            x1="-110.275"
                            y1="275.395"
                            x2="359.32"
                            y2="495.792"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint5_linear_1_4"
                            x1="-11.9227"
                            y1="135.425"
                            x2="439.218"
                            y2="347.16"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint6_linear_1_4"
                            x1="12.5296"
                            y1="76.7"
                            x2="461.919"
                            y2="287.613"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint7_linear_1_4"
                            x1="-48.046"
                            y1="141.995"
                            x2="421.98"
                            y2="362.594"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                        <linearGradient
                            id="paint8_linear_1_4"
                            x1="24.5483"
                            y1="-12.69"
                            x2="494.574"
                            y2="207.909"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#88D6C7"></stop>
                            <stop offset="0.260963" stop-color="#88D6C7"></stop>
                            <stop offset="1" stop-color="#505AB2"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </a>
            <!-- End Logo -->

            <div class="ms-1 sm:ms-2"></div>
        </div>

        <div class="flex items-center gap-1 md:order-4 md:ms-4">
            <a
                class="w-full sm:w-auto whitespace-nowrap py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-transparent bg-cyan-600 text-white hover:bg-cyan-900 focus:outline-hidden focus:bg-cyan-900 disabled:opacity-50 disabled:pointer-events-none transition background-color duration-300 ease-in-out"
                href="#contact"
            >
                Contact
            </a>

            <div class="md:hidden">
                <!-- Toggle Button -->
                <button
                    type="button"
                    class="hs-collapse-toggle flex justify-center items-center size-9.5 border border-gray-200 text-gray-500 rounded-full hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100"
                    id="hs-navbar-header-floating-collapse"
                    aria-expanded="false"
                    aria-controls="hs-navbar-header-floating"
                    aria-label="Toggle navigation"
                    data-hs-collapse="#hs-navbar-header-floating"
                >
                    <svg
                        class="hs-collapse-open:hidden shrink-0 size-3.5"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><line x1="3" x2="21" y1="6" y2="6"></line><line
                            x1="3"
                            x2="21"
                            y1="12"
                            y2="12"></line><line x1="3" x2="21" y1="18" y2="18"
                        ></line></svg
                    >
                    <svg
                        class="hs-collapse-open:block hidden shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"
                        ></path></svg
                    >
                </button>
                <!-- End Toggle Button -->
            </div>
        </div>

        <div
            id="hs-navbar-header-floating"
            class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow md:block"
            aria-labelledby="hs-navbar-header-floating-collapse"
        >
            <div
                id="links-div"
                class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 py-2 md:py-0 md:ps-7 [&>a]:transition color duration-300 ease-in-out"
            >
                <a
                    class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent font-medium text-gray-800 hover:border-cyan-600 transition duration-300 ease-in-out focus:outline-hidden"
                    href="#home">Home</a
                >
                <a
                    class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 border-transparent font-medium text-gray-800 hover:border-cyan-600 transition duration-300 ease-in-out focus:outline-hidden"
                    href="#about">About</a
                >
            </div>
        </div>
    </nav>
</header>
<!-- ========== END HEADER ========== -->
