---
import Hero from "./Hero.astro";
import Features from "./Features.astro";
import Services from "./Services.astro";
import About from "./About.astro";
import Contact from "./Contact.astro";
---

<main>
    <Hero />
    <Services />
    <Features />
    <About />
    <Contact />
</main>
