<div
    id="hs-training-modal"
    class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none"
    role="dialog"
    tabindex="-1"
    aria-labelledby="hs-training-modal-label"
>
    <div
        class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 h-[calc(100%-56px)] sm:mx-auto"
    >
        <div
            class="max-h-full overflow-hidden flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto"
        >
            <div
                class="flex justify-between items-center py-3 px-4 border-b border-gray-200"
            >
                <h3
                    id="hs-scroll-inside-body-modal-label"
                    class="text-lg font-bold text-blue-900"
                >
                    Training
                </h3>
                <button
                    type="button"
                    class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none cursor-pointer transition duration-300 ease-in-out"
                    aria-label="Close"
                    data-hs-overlay="#hs-training-modal"
                >
                    <span class="sr-only">Close</span>
                    <svg
                        class="shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="p-4 overflow-y-auto">
                <div class="space-y-4">
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            MM
                            <span class="text-sm">(Materials Management)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Purchasing & Vendor Management</li>
                            <li>Inventory & Stock Management</li>
                            <li>Good Receipt & Goods Issue</li>
                            <li>Invoice Verification</li>
                            <li>Integration with FI, WM, and PP</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            SD
                            <span class="text-sm">(Sales & Distribution)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Sales order management</li>
                            <li>Pricing, discounts, and rebates</li>
                            <li>Billing & invoicing</li>
                            <li>Shipping and delivery processing</li>
                            <li>Customer & revenue integration with FI</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            HR / HCM / SuccessFactors
                            <span class="text-sm">(Human Resources)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Personnel administration</li>
                            <li>Organizational management</li>
                            <li>Time & attendance</li>
                            <li>Payroll processing</li>
                            <li>Talent, recruiting, and performance</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            PM / EAM
                            <span class="text-sm">(Plant Maintenance /
                                Enterprise Asset Management)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Plant Maintenance</li>
                            <li>Asset Lifecycle Management</li>
                            <li>Maintenance Management</li>
                            <li>Resource Scheduling (RSH)</li>
                            <li>Integration with FI, MM, QM, PP</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            PP / QM
                            <span class="text-sm">(Production Planning /
                                Quality Management)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Production Planning (PP) / MRP</li>
                            <li>Manufacturing Execution / PP-DS</li>
                            <li>Quality Management (Inspection)</li>
                            <li>Audit and compliance support</li>
                            <li>Integration with MM and PM</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            WM / eWM
                            <span class="text-sm">(Warehouse Management)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Management Accounting</li>
                            <li>Financial Operations</li>
                            <li>Accounting and Financial Close</li>
                            <li>Treasure Management</li>
                            <li>Contract Accounting and Invoicing</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-blue-900">
                            FI / CO
                            <span class="text-sm">(Finance & Controlling)</span>
                        </h3>
                        
                        <ul class="list-[square] list-inside marker:text-cyan-600 text-gray-800">
                            <li>Inbound & outbound logistics</li>
                            <li>Storage bin & handling unit management</li>
                            <li>Picking, packing, and staging</li>
                            <li>Labor and warehouse optimization</li>
                            <li>Real-time warehouse visibility</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div
                class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200"
            >
                <button
                    type="button"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-cyan-600 text-white hover:bg-cyan-900 focus:outline-hidden focus:bg-cyan-900 disabled:opacity-50 disabled:pointer-events-none transition duration-300 ease-in-out cursor-pointer"
                    data-hs-overlay="#hs-training-modal"
                >
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
