---
import TermsModal from "../components/TermsModal.astro";
import PrivacyModal from "../components/PrivacyModal.astro";
import Bubbles from "../components/Bubbles.astro";
import Gradient from "../components/Gradient.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="author" content="Resul Elezi – Web Developer" />
        <meta
            name="generator"
            content=`Custom ${Astro.generator} Project by Resul Elezi`
        />

        <title>Epic ERP Solutions</title>
    </head>
    <body>
        <slot />
        <TermsModal />
        <PrivacyModal />
        <Bubbles />
        <Gradient />
    </body>
</html>
<script type="module" src="/src/scripts/collapse.js"></script>
<script type="module" src="/src/scripts/overlay.js"></script>
<script src="/src/scripts/script.js"></script>
